@charset "UTF-8";
@import "variables";
@import "normalize";
@import "fonts";
@import "general";
@import "./all-blocks/all-block";
@import "./all-blocks/header";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}






